/* stylelint-disable scss/double-slash-comment-empty-line-before */
@mixin custom-scroll {
  // <firefox>
  scrollbar-color: $colorBorder transparent;
  scrollbar-width: thin;
  // </firefox>

  padding-right: 4px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $colorBorder;
    border-radius: 14px;
  }
}
