// Seeds
$colorTextBase: #000;
$colorTextLightSolid: #fff;
$colorBgBase: #fff;
$colorBrand: #FD7E14;
$colorError: #FF2727;
$colorWarning: #faad14;
$colorSuccess: #58BB4E;
$colorInfo: #306AF5;

// Brand Orange
$brandOrange1: #FFF5ED;
$brandOrange2: #FFDDC1;
$brandOrange3: #FFC493;
$brandOrange4: #FFAC67;
$brandOrange5: #FF9741;
$brandOrange6: #FD7E14;
$brandOrange7: #FF7400;
$brandOrange8: #E56800;
$brandOrange9: #DB6400;
$brandOrange10: #CD5D00;

// Brand Blue
$brandBlue1: #F1F5FF;
$brandBlue2: #DAE5FF;
$brandBlue3: #B9CDFB;
$brandBlue4: #87A9FA;
$brandBlue5: #618FFF;
$brandBlue6: #306AF5;
$brandBlue7: #1758F4;
$brandBlue8: #0044E7;
$brandBlue9: #033DC6;
$brandBlue10: #0338B7;

// Brand Red
$brandRed1: #FFF5F5;
$brandRed2: #FFE0E0;
$brandRed3: #FFC2C2;
$brandRed4: #FF9D9D;
$brandRed5: #FF7878;
$brandRed6: #FA4747;
$brandRed7: #FF2727;
$brandRed8: #FF0F0F;
$brandRed9: #EF0000;
$brandRed10: #CF0000;

// Brand Green
$brandGreen1: #F1FFF0;
$brandGreen2: #CFEBCC;
$brandGreen3: #B1DCAD;
$brandGreen4: #A0D39A;
$brandGreen5: #88C881;
$brandGreen6: #58BB4E;
$brandGreen7: #47B43C;
$brandGreen8: #2FA224;
$brandGreen9: #219216;
$brandGreen10: #188B0C;

// Brand Purple
$brandPurple1: #EEEAFA;
$brandPurple2: #D1C3F8;
$brandPurple3: #B39CF9;
$brandPurple4: #9978FA;
$brandPurple5: #7548FC;
$brandPurple6: #5A27F2;
$brandPurple7: #5023D5;
$brandPurple8: #431CBA;
$brandPurple9: #350EAC;
$brandPurple10: #340EA5;

// Calendula Gold
$gold1: #fffbe6;
$gold2: #fff1b8;
$gold3: #ffe58f;
$gold4: #ffd666;
$gold5: #ffc53d;
$gold6: #faad14;
$gold7: #d48806;
$gold8: #ad6800;
$gold9: #874d00;
$gold10: #613400;

// Header
$blue50: #F0F7FC;
$neutral50: #F9FAFB;
$neutral100: #F3F4F6;
$neutral200: #E5E7EB;
$neutral400: #9CA3AF;
$neutral900: #151515;

// Footer
$neutral800: #2C3137;
