// Font weight
$fontName: 'Golos Text';
$fontWeightNormal: 400;
$fontWeightStrong: 600;
$fontWeightItalic: 'Regular Italic';

// Base
$fontBase: 14px;
$fontSM: 12px;
$fontLG: 16px;
$fontXL: 20px;

// Heading
$fontHeading1: 38px;
$fontHeading2: 30px;
$fontHeading3: 24px;
$fontHeading4: 20px;
$fontHeading5: 16px;
